.add-blocks {

    .mdc-card {
        padding: 0;
    }

    .mdc-card__title,
    .mdc-card__subtitle {
        margin: 0;
    }

    .mdc-card__primary,
    .mdc-card__secondary {
        padding: 20px;
    }

    .mdc-card__primary {

        .inner-wrapper {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .icon {
                font-size: 50px;
                margin-right: 5px !important;
            }
        }
    }

}
