.mdc-card {
    margin: 10px 0 30px 0;
    padding: 20px;

    a:not(.mdc-button) {
        color: $theme-secondary !important;
    }

    .icon-small {
        font-size: 25px;
        color: $theme-secondary;
    }

    .mdc-button {
        font-size: 14px;
        padding: 0;
    }

    .mdc-icon-button {
        font-size: 16px;
    }

    .more-options {
        position: absolute;
        top: 0;
        right: 0;
    }

    &.neighborhood-card {
        padding: 0;

        .neighborhood-card-location {
            text-align: left;
            padding: 5px 10px;

            .card__subtitle {
                margin: 0;
            }
        }
    }

    &.heading-card {
        .mdc-card__actions .more-options {
            justify-content: flex-end;
        }
    }

    &.mini-card {
        p {
            margin: 0;
        }
    }
}
