.community {

    .grid-cell {
        @include mdc-layout-grid-cell(phone, 4, 3);

        @include tablet {
            @include mdc-layout-grid-cell(tablet, 2, 3);
        }

        @include desktop {
            @include mdc-layout-grid-cell(desktop, 4, 3);
        }
    }

    .ushahidi-map {
        iframe {
            width: 100%;
            height: 480px;
            border: none;
        }
    }
}
