.mdc-drawer {
    width: 304px;

    .grid-cell {
        @include button-group(2, 4, 6)
    }

    .mdc-drawer__header {
        background: $theme-secondary;
        padding: 10px 0;

        .mdc-layout-grid__inner {
            // grid-gap: 0;
        }

        .avatar {
            font-size: 40px;
        }

        .mdc-button {
            font-size: 14px;
        }

        .mdc-card__subtitle {
            display: flex;
            justify-content: space-between;

            .icon {
                position: relative;
                top: 4px;
            }
        }
    }

    .mdc-list-item {

        &:hover {
            color: $theme-primary;
            background-color: lighten(desaturate(adjust-hue($theme-primary, -1), 4.78), 30.20);

            .icon {
                color: $theme-secondary
            }
        }
    }
}
