.location-list {
    height: 248px;
    padding: 0;
    overflow: scroll;

    .mdc-list-item {
        border: 1px solid $theme-neutral;
        border-bottom: none;

        &:last-of-type {
            border-bottom: 1px solid $theme-neutral;
        }
    }
}

.member-list {
  .mdc-list-item {
    justify-content: space-between;
    border-bottom: 1px solid $theme-neutral;
  }
}

.reorder-list {
    .mdc-list-item {
        justify-content: space-between;
        border-bottom: 1px solid $theme-neutral;

        &:hover {
          cursor: auto;
        }
    }

    .reorder-buttons {
      display: flex;
      justify-content: space-between;

      button:first-of-type {
        margin-right: 5px;
      }
    }
}