@use 'sass:map';

$mdc-layout-grid-breakpoints: (
    phone: 0px,
    tablet: 768px,
    desktop: 1024px
) !default;

$tablet-width: map.get($mdc-layout-grid-breakpoints, "tablet");
$desktop-width: map.get($mdc-layout-grid-breakpoints, "desktop");

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin tabletUp {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
