.user-info {
    display: flex;
    justify-content: flex-start;

    img {
        border-radius: 4px;
        margin-bottom: 5px;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .user-avatar {

        &.flex-column {
            align-items: center;
        }

    }

    .user-name {
        margin-left: 15px;

        &.flex-column {
            justify-content: flex-start;
        }
    }
}
