.welcome {

    h1 {
        font-size: 32px;
        color: $theme-secondary;
    }

    h4 {
        font-size: 28px;
    }

    p {
        font-size: 14px;
    }

    .callout {
        font-size: 14px;
        color: $theme-primary;
    }
}
