// Theme
@use "@material/theme"with ($primary: #EF6292,
    $secondary: #47B7AD,
    $on-primary: #212121,
    $on-secondary: #212121,
);

@import "theme";
@import "mediaQueries"; // https://davidwalsh.name/write-media-queries-sass

// @import "@material/theme/mdc-theme";
// @import "@material/theme/mixins";

// MDC Web Components
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/card/mdc-card";
@import "@material/textfield/mdc-text-field";
@import "@material/textfield/helper-text/mdc-text-field-helper-text";
@import "@material/form-field/mdc-form-field";
@import "@material/radio/mdc-radio";
@import "@material/icon-button/mdc-icon-button";


@import "@material/list/mdc-list";
@import "@material/menu-surface/mdc-menu-surface";
@import "@material/menu/mdc-menu";

@import "@material/typography/mdc-typography";
@import "@material/button/mdc-button";


// Globals
@import "mixins";
@import "global";
@import "drawer";
@import "cards";
@import "search";
@import "create";

// Views
@import "welcome";
@import "login";
@import "community";
@import "my-communities";
@import "blocks";

// Dependencies
@import 'tiptap/main.scss'
